@font-face {
    font-family: "Saira";
    src: url("saira.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #141b24;
    color: white;
    overflow: hidden;
}

svg {
    width: 100%;
    padding: 1rem;
    max-width: 50rem;
}

text {
    font-family: "Saira", sans-serif;
    font-variant-numeric: tabular-nums;
}
